---
import Layout from '@/layouts/Layout.astro'
---

<Layout>
  <ul>
    <li><a href="/steps/1-single/" data-astro-reload>Single</a></li>
    <li><a href="/steps/2-group/" data-astro-reload>Group</a></li>
    <li><a href="/drafts/click-effect/" data-astro-reload>Test</a></li>
    <li><a href="/archive/" data-astro-reload>Archive</a></li>
  </ul>
</Layout>

<style>
body {
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  text-align: center;
}
</style>
