---
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <ul>
    <li><a href="/mini/">mini</a></li>
    <li><a href="/small/">small</a></li>
    <li><a href="/archive/">archive</a></li>
  </ul>
</Layout>

<style>
body {
  height: 100dvh;
  display: grid;
  place-items: center;
}

ul {
  text-align: center;
  list-style: none;
}
</style>
