---
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <ul>
    <li><a href="/steps/1-single/" data-astro-reload>Single</a></li>
    <li><a href="/steps/2-group/" data-astro-reload>Group</a></li>
    <li><a href="/steps/3-loading/" data-astro-reload>Loading</a></li>
    <li><a href="/steps/test/" data-astro-reload>Test</a></li>
    <li><a href="/archive/" data-astro-reload>Archive</a></li>
  </ul>
</Layout>

<style>
body {
  height: 100dvh;
  display: grid;
  place-items: center;
}

ul {
  text-align: center;
}
</style>
