---
import Layout from '../../layouts/Layout.astro'
---

<Layout>
  <div class="image-wrapper">
    <img src="/01.webp" class="image-item" alt="image" />
  </div>
</Layout>

<style>
body {
  /* Full screen */
  width: 100dvw;
  height: 100dvh;

  /* Center child image wrapper */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Optimize performance and prevent mobile scroll */
  contain: content;
}

.image-wrapper {
  /* Overlap all wrappers */
  position: absolute;

  /* Control child image dimensions */
  width: min(800px, 80dvh, 95dvw);
  aspect-ratio: 1;

  /* Center child image */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Cursor style and click events */
  cursor: zoom-in;
  pointer-events: none;

  /* Optimize performance */
  contain: layout style;
}

.image-wrapper.zoomed {
  cursor: zoom-out;
}

.image-item {
  /* Image sizing and fit */
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;

  /* 3D perspective effect and scale */
  transform: perspective(5000px) rotateX(-45deg) rotateY(-45deg) scale(0.3);
  transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);

  /* Handle click events */
  pointer-events: auto;

  /* Optimize performance */
  backface-visibility: hidden;
  will-change: transform;
}

.image-wrapper.zoomed .image-item {
  transform: perspective(800px) rotateX(0deg) rotateY(0deg) scale(1);
}

@media (max-width: 768px) {
  .image-item {
    transform: perspective(300px) rotateX(-45deg) rotateY(0deg) scale(0.4);
  }
}
</style>

<script>
function handleClick(event: MouseEvent) {
  const target = event.target as HTMLElement

  // Find closest image wrapper and toggle zoom class
  target.closest('.image-wrapper')?.classList.toggle('zoomed')
}

document.addEventListener('click', handleClick)
</script>
