---
import Layout from '../../layouts/Layout.astro'
---

<Layout>
<body>
  <div class="image-stack">
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/03_1ecJ4T.webp" class="image-item" alt="img" draggable="false" />
    </div>
    <div class="image-wrapper">
      <img src="https://retypeset.radishzz.cc/_astro/06_1gNyMD.webp" class="image-item" alt="img" draggable="false" />
    </div>
  </div>
</body>
</Layout>

<style>
.image-stack {
  height: 100dvh;
  width: 100dvw;

  display: flex;
  align-items: center;
  justify-content: center;

  contain: layout paint style;
}

.image-wrapper {
  pointer-events: none;
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100px;
  height: 100px;

  z-index: var(--z-index);
  transform: translate3d(var(--translate-x, 0), var(--translate-y, 0), 0);
  transition: transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);

  will-change: transform width height;
  contain: layout style;
}

.image-item {
  pointer-events: auto;

  max-height: 100%;
  max-width: 100%;

  user-select: none;
  object-fit: contain;

  transform: perspective(5000px) rotateX(-45deg) rotateY(-45deg) scale(1);
  transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);

  will-change: transform;
  backface-visibility: hidden;
}
</style>

<script>
  const stackConfig = {
    spacing: 30,
    slope: -0.6,
    delay: 500,
  }

  function handleClick(event: MouseEvent) {
    const target = event.target as HTMLElement

    // Find closest image wrapper and toggle zoom class
    target.closest('.image-wrapper')?.classList.toggle('zoomed')
  }

  function setupStack() {
    setTimeout(() => {
      const wrappers = document.querySelectorAll('.image-wrapper')
      const wrapperCount = wrappers.length
      const centerIndex = Math.floor(wrapperCount / 2)

      wrappers.forEach((element, index) => {
        const wrapper = element as HTMLElement

        // Calculate position
        const relativeIndex = index - centerIndex
        const offsetX = relativeIndex * stackConfig.spacing
        const offsetY = relativeIndex * stackConfig.spacing * stackConfig.slope

        // Apply styles
        wrapper.style.setProperty('--translate-x', `${offsetX}px`)
        wrapper.style.setProperty('--translate-y', `${offsetY}px`)
        wrapper.style.setProperty('--z-index', `${wrapperCount - index}`)
      })
    }, stackConfig.delay)
  }

  document.addEventListener('astro:page-load', () => setupStack())
  document.addEventListener('click', handleClick)
  setupStack()
  </script>
