---
import { ClientRouter } from 'astro:transitions'
import '@/style/reset.css'
---

<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <title>Stack Gallery</title>
  <ClientRouter />
</head>
<body>
  <slot />
</body>
</html>
